#group{
    width:70vw;
    left: 15vw;
    top: 30%;
    height: auto;
    position: relative;
}

.jamie{
    width: 11%;
    left:57%;
    height: 25%;
    top: 12%;
    background-color: orange;
}

.left{
    width: 11%;
    left:57%;
    height:58%;
    top:37%;
    background-color: wheat;
}

.donald{
    width: 11%;
    left:25%;
    height:60%;
    top:35%;
    background-color: blue;
}

.jy{
    width: 8%;
    left:36%;
    height:60%;
    top:35%;
    background-color: green;
}

.tkt{
    width: 6%;
    left: 44%;
    height:60%;
    top:35%;
    background-color: yellow;
}

.pig{
    width: 6%;
    left:50%;
    height:60%;
    top:35%;
    background-color: brown;
}

.namecard {
    position: absolute;
    width: 40vw;
    left: 30vw;
    top: 68vh;
    height: 15vh;
    background: #FAFAFA;
    border: 5px solid #212121;
}

.blog-highlight-one , .blog-highlight-two{
    position: absolute;
    height: 25vh;
    width: 90%;
    left: 5%;
    border: 5px solid #FAFAFA;
}

.blog-highlight-one{
    top: 30%;
}

.blog-highlight-two {
    top: 60%;
}

.bheader {
    font-size: 4vh;
    line-height: 5vh;
}
.bintro{
    line-height: 2vh;
    height: 12vh;
}

.bsubheader {
    font-size: 3vh;
    line-height: 4vh;
}