#group{
    width:90vw;
    left: 5vw;
    top: 30%;
    height: auto;
    position: relative;
}

.jamie{
    width: 16%;
    left: 79%;
}

.left{
    width: 19%;
    left: 8%;
}

.jy{
    width: 8%;
    left: 56%;
}

.tkt{
    width: 16%;
    left: 27%;
}

.pig{
    width: 10%;
    left: 46%;
}

.ymc{
    width: 18%;
    left: 43%;
}

.Wiley{
    width: 18%;
    left: 61%;
}

.py{
    width: 12%;
    left: 25%;
}

.Chris{
    width: 9%;
    left: 37%;
}

.Chen{
    width: 13%;
    left: 64%;
}

.Ha{
    width: 14%;
    left: 77%;
}


.namecard {
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: 68vh;
    height: 15vh;
    background: #FAFAFA;
    border: 5px solid #212121;
}

.blog-highlight-one , .blog-highlight-two{
    position: absolute;
    height: 25vh;
    width: 90%;
    left: 5%;
    border: 5px solid #FAFAFA;
}

.blog-highlight-one{
    top: 30%;
}

.blog-highlight-two {
    top: 60%;
}

.bheader {
    font-size: 4vh;
    line-height: 5vh;
}
.bintro{
    line-height: 2vh;
    height: 12vh;
}

.bsubheader {
    font-size: 3vh;
    line-height: 4vh;
}