@font-face {
    font-family: Ndot;
    src: url('../NDot.otf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono');

* {
    border: 0;
}

body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-family: 'Ndot';
    font-style: normal;
    color: #212121;
}

.slide {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.black{
    background: #212121;
}

.color-black{
    color: black;
}

.color-white{
    color: #FAFAFA;
}

/* CSS: Front Page */

.cclub{
    position: fixed;
    text-align: center;
    top: 20%;
    width: 100%;

    font-weight: 400;
    font-size: 180px;
}

.ccap {
    position: fixed;
    text-align: center;
    top: 58.2%;
    width: 100%;

    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
}

.s4m , .s4m2 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 87%;

    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.s4m2{
    top: 92%;
}

.title {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0.27%;
    
    font-weight: 400;
    font-size: 160px;
    line-height: 209px;
}

.subtitle{
    position: fixed;
    text-align: center;
    width: 100%;
    top: 20%;

    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

a{
    color: black;
}

/* CSS: Blog */
.bheader {
    position: absolute;
    left: 1.11%;
    top: -20.77%;
    height: 20%;
    width: 100%;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    letter-spacing: -0.05em;
    
    color: #FAFAFA;
}

.bsubheader {
    position: absolute;
    left: 1.11%;
    top: 0.07%;
    height: 15%;
    width: 100%;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 29.6663px;
    line-height: 50px;
    letter-spacing: -0.05em;

    color: #FAFAFA;
}

.bintro {
    position: absolute;
    left: 1.11%;
    top: 25.88%;
    height: 45%;
    width: 100%;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.05em;
    overflow-x: hidden;

    color: #FAFAFA;
}

.blm {
    position: absolute;
    text-align: center;
    top: 75%;
    height: 20%;
    width: 100%;

    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height */
    color: #FAFAFA;
}

.blog-highlight-one , .blog-highlight-two{
    position: absolute;
    height: 27%;
    width: 90%;
    left: 5%;
    border: 5px solid #FAFAFA;
}

.blog-highlight-one{
    top: 30%;
}

.blog-highlight-two {
    top: 60%;
}

/* CSS: Team */


.image_holder{
    width:100%;
    top: 35%;
    height: 70%;
    position: relative;
}

.box {
    opacity: 0.3;
    position : absolute;
    z-index: 2;
    height: 50%;
}

.jamie{
    width: 15%;
    left:60%;
    height: 20%;
    background-color: orange;
}

.left{
    width: 15%;
    left:60%;
    height:30%;
    top: 20%;
    background-color: black;
}

.donald{
    width: 20%;
    left:12%;
    height:50%;
    background-color: blue;
}

.jy{
    width: 10%;
    left:32%;
    height:50%;
    background-color: green;
}

.tkt{
    width: 8%;
    left:42%;
    height:50%;
    background-color: yellow;
}

.pig{
    width: 10%;
    left:50%;
    height:50%;
    background-color: brown;
}


#group {
    width: 100%;
    height: auto;
    position: absolute;
}


.namecard {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 73.18%;
    bottom: 15.34%;

    background: #FAFAFA;
    border: 5px solid #212121;
}

.namecard-name{
    position: absolute;
    left: 1.74%;
   
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    color: #212121;
    
    margin: 0;
    height: 30%;
    overflow-x: hidden;
}

.namecard-class {
    position: absolute;
    left: 1.74%;
    top: 7.86%;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 19.7775px;
    line-height: 29px;
    color: #212121;
}

.namecard-rank {
    position: absolute;
    left: 1.74%;
    top: 22.69%;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 19.7775px;
    line-height: 29px;
    color: #212121;
}

.namecard-email {
    position: absolute;
    left: 1.74%;
    top: 63.09%;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #212121;
}

.namecard-git {
    position: absolute;
    right: 1.74%;
    top: 63.09%;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #212121;
}

.left-card , .pig-card , .jamie-card{
    top: 73.18%;
    bottom: 15.34%;
}

/* CSS: Timeline */

.timeline-divider{
    border-top: 4px dotted white;
}

.timeline{
    top: 30%;
}

.timeline__content{
    font-size: 30px;
}

/* CSS: End */

.joinus {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 29.69%;
 
    font-weight: 400;
    font-size: 160px;
    line-height: 209px;
}

.mtc {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 47.68%;

    font-weight: 400;
    font-size: 63px;
    line-height: 80px;
}

.email , .discord , .ig , .github , .credit , .rtw{
    position: fixed;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.email {
    left: 11.11%;
    top: 65.49%;
}

.discord {
    left: 11.11%;
    top: 70.47%;
}

.ig {
    left: 11.11%;
    top: 75.45%;
}

.github {
    left: 56.58%;
    top: 65.49%;
}

.credit {
    left: 56.58%;
    top: 70.47%;
}

.rtw {
    left: 56.58%;
    top: 75.45%;
}
