@font-face {
    font-family: Ndot;
    src: url('../NDot.otf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono');

* {
    border: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Ndot';
    font-style: normal;
    color: #212121;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.black{
    background: #212121;
}

.color-black{
    color: black;
}

.color-white{
    color: #FAFAFA;
}

/* CSS: Front Page */

.cclub{
    position: absolute;
    text-align: center;
    top: 40vh;
    width: 100%;

    font-weight: 400;
    font-size: 13.5vmin;
}

.ccap {
    position: absolute;
    text-align: center;
    top: 60vh;
    width: 100%;

    font-weight: 400;
    font-size: 6.5vmin;
    line-height: 80px;
}

.s4m , .s4m2 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 91.61%;

    font-weight: 400;
    font-size: 3vmin;
    line-height: 30px;
}

.s4m2{
    top: 95%;
}

.title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 5vmin;
    
    font-weight: 400;
    font-size: 15vmin;
    line-height: 209px;
}

.subtitle{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 23vmin;

    font-weight: 400;
    font-size: 3vmin;
    line-height: 49px;
}

a{
    color: black;
}

/* CSS: Blog */
.bheader {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 4vmin;
    line-height: 5vmin;
    letter-spacing: -0.05em;
    overflow-x: hidden;
    

    color: #FAFAFA;
}

.bsubheader {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 3vmin;
    line-height: 6vmin;
    letter-spacing: -0.05em;

    color: #FAFAFA;
}

.bintro {
    height: 60%;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 2vmin;
    line-height: 6vmin;
    letter-spacing: -0.05em;
    overflow-x: hidden;

    color: #FAFAFA;
}

.blm {
    text-align: center;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 2vmin;
    line-height: 3vmin;
    /* identical to box height */
    color: #FAFAFA;
}

.blog-highlight-one , .blog-highlight-two{
    position: absolute;
    height: 50%;
    width: 40%;
    border: 5px solid #FAFAFA;
}

.blog-highlight-one{
    left: 10.35%;
    top: 33.2%;
}

.blog-highlight-two {
    left: 52.15%;
    top: 33.2%;
}

/* CSS: Team */


.box {
    opacity: 0;
    position : absolute;
    z-index: 2;
    height: 50%;
}

.jamie{
    width: 9%;
    left:54%;
    height: 25%;
    top: 12%;
    background-color: orange;
}

.left{
    width: 9%;
    left:54%;
    height:58%;
    top:37%;
    background-color: black;
}

.donald{
    width: 8%;
    left:32%;
    height:60%;
    top:35%;
    background-color: blue;
}

.jy{
    width: 6.5%;
    left:40%;
    height:60%;
    top:35%;
    background-color: green;
}

.tkt{
    width: 3.5%;
    left:46.5%;
    height:60%;
    top:35%;
    background-color: yellow;
}

.pig{
    width: 4%;
    left:50%;
    height:60%;
    top:35%;
    background-color: brown;
}

.img_holder{
    top:30%;
    width: 100%;
    position: relative;
}

#group{
    width:50vw;
    left: 25vw;
    top: 30%;
    height: auto;
    position: relative;
}

.namecard {
    position: absolute;
    left: 2vw;
    width: 18vw;
    top: 50vh;
    height: 15vh;
    background: #FAFAFA;
    border: 5px solid #212121;
}

.namecard-name{
    position: absolute;
    left: 1.74%;
   
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 4vmin;
    line-height: 46px;
    color: #212121;
    
    margin: 0;
    height: 30%;
    /*overflow-x: scroll;*/
}

.namecard-class {
    position: absolute;
    left: 1.74%;
    top: 4.5vh;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 2vmin;
    line-height: 29px;
    color: #212121;
}

.namecard-rank {
    position: absolute;
    left: 1.74%;
    top: 6.5vh;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 2vmin;
    line-height: 29px;
    color: #212121;
}

.namecard-email {
    position: absolute;
    left: 1.74%;
    top: 12vh;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75vmin;
    line-height: 26px;
    color: #212121;
}

.namecard-git {
    position: absolute;
    right: 1.74%;
    top: 12vh;
    font-family: 'Ndot';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75vmin;
    line-height: 26px;
    color: #212121;
}

.left-card , .pig-card , .jamie-card{
    left: 80vw;
}

/* CSS: Timeline */

.timeline-divider{
    border-top: 4px dotted white;
}

.timeline{
    top: 35%;
}

.timeline__content{
    font-size: 22px;
}

/* CSS: End */

.joinus {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30vh;
 
    font-weight: 400;
    font-size: 20vmin;
    line-height: 209px;
}

.mtc {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50vh;

    font-weight: 400;
    font-size: 5vmin;
    line-height: 80px;
}

.email , .discord , .ig , .github , .credit , .rtw{
    font-weight: 400;
    font-size: 3vmin;
    line-height: 35px;
    transition: 0.5s;
    transition-timing-function: ease;
    transform: translate(0,0%);
}

.email:hover{
    transform: translate(10%,0%);
}

.discord:hover{
    transform: translate(10%,0%);
}

.ig:hover{
    transform: translate(10%,0%);
}

.github:hover{
    transform: translate(10%,0%);
}

.credit:hover{
    transform: translate(10%,0%);
}

.rtw:hover{
    transform: translate(10%,0%);
}


.email {
    top: 10vh; 
}

.discord {
    top: 5vh;
}

.credit {
    top: 5vh;
}

.rtw {
    top: 10vh;
}

.link-group1 , .link-group2 {
    text-align: center;
    width: 50vw;
    top: 70vh;
    height: 15vh;
    position: absolute;
    float: left;
}

.link-group2{
    left: 50vw;
}

/* animation */

@media (prefers-reduced-motion: no-preference) {
    .up-animation {
      animation: up 0.5s 1;
    }
    .down-animation {
        animation: down 0.5s 1;
    }
}

@keyframes up {
    0% {
        transform: translate(0,100%);
        
    }
    100% {
        transform: translate(0,0%);
    }
}

@keyframes down {
    0% {
        transform:scale(0);
        
    }
    100% {
        transform:scale(1);
    }
}
