 @font-face {
     font-family: Ndot;
     src: url('/assets/NDot.otf');
 }

 @import url('https://fonts.googleapis.com/css?family=Roboto%20Mono');

 * {
     border: 0;
 }

 body {
     position: relative;
     width: 100vw;
     height: 100vh;
 }

 .white {
     position: relative;
     width: 100vw;
     height: 100vh;
     background: #F5F5F5;
 }

 .black {
     position: relative;
     width: 100vw;
     height: 100vh;
     background: #212121;
 }

 /* CSS: Front Page */
 .cclub {
     position: fixed;
     text-align: center;
     left: 21.46%;
     top: 37.79%;
     bottom: 41.8%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 144px;
     color: #212121;
 }

 .ccap {
     position: fixed;
     text-align: center;
     left: 33.93%;
     top: 58.2%;
     bottom: 33.98%;

     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 55.0062px;
     line-height: 80px;
     color: #212121;
 }

 .s4m {
     position: fixed;
     text-align: center;
     left: 43.88%;
     top: 91.61%;
     bottom: 1.46%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 21.0136px;
     line-height: 30px;
     color: #212121;
 }

 .ds4m {
     position: fixed;
     text-align: center;
     left: 43.88%;
     top: 91.61%;
     bottom: 1.46%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 21.0136px;
     line-height: 30px;
     color: #FAFAFA;
 }

 /* CSS: Blog */
 .blog {
     position: fixed;
     text-align: center;
     left: 39.99%;
     top: 0.27%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 144px;
     line-height: 209px;
     color: #FAFAFA;
 }

 .ablog {
     position: fixed;
     text-align: center;
     left: 36.26%;
     top: 24.09%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 33.9988px;
     line-height: 49px;
     color: #FAFAFA;
 }

 .blog-highlight-one {
     position: fixed;
     left: 10.35%;
     right: 52.29%;
     top: 33.2%;
     background: #212121;
     border: 5px solid #FAFAFA;
 }

 /* CSS: Team */
 .team {
     position: fixed;
     text-align: center;
     left: 39.99%;
     top: 0.27%;
     bottom: 74.32%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 144px;
     line-height: 209px;
     color: #212121;
 }

 .ateam {
     position: fixed;
     text-align: center;
     left: 33.35%;
     top: 24.09%;
     bottom: 73.24%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 33.9988px;
     line-height: 49px;
     color: #212121;
 }

 #group {
     position: fixed;
     left: 31%;
     right: 25%;
     top: 35.16%;
     bottom: 13.81%;

     width: 35%;
     height: auto;
 }

 .ps4m {
     position: fixed;
     text-align: center;
     left: 33.88%;
     top: 91.61%;
     bottom: 1.46%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 21.0136px;
     line-height: 30px;
     color: #212121;
 }

 /* CSS: Timeline */
 .tl {
     position: fixed;
     text-align: center;
     left: 31.99%;
     top: 0.27%;
     bottom: 74.32%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 144px;
     line-height: 209px;
     color: #FAFAFA;
 }

 .atl {
     position: fixed;
     text-align: center;
     left: 41.35%;
     top: 24.09%;
     bottom: 73.24%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 33.9988px;
     line-height: 49px;
     color: #FAFAFA;
 }

 #arrow {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     width: 90%
 }

 .sep22 {
     position: fixed;
     left: 5.71%;
     right: 80.61%;
     top: 50.27%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #FAFAFA;
 }

 .oct22 {
     position: fixed;
     left: 18.07%;
     right: 68.26%;
     top: 33.89%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #FAFAFA;
 }

 .jan23 {
     position: fixed;
     left: 35.83%;
     top: 50.27%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #FAFAFA;
 }

 .mar23 {
     position: fixed;
     left: 52.57%;
     top: 33.89%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #FAFAFA;
 }

 .may23 {
     position: fixed;
     left: 71.18%;
     top: 50.27%;
     bottom: 43.36%;

     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;

     color: #FAFAFA
 }

 /* CSS: End */
 .joinus {
     position: fixed;
     text-align: center;
     left: 35.42%;
     top: 31.69%;
     bottom: 45.9%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 144px;
     line-height: 209px;
     color: #212121;
 }

 .mtc {
     position: fixed;
     text-align: center;
     left: 31.46%;
     top: 52.68%;
     bottom: 41.5%;

     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 55.0062px;
     line-height: 80px;
     color: #212121;
 }

 .email {
     position: fixed;
     left: 21.11%;
     right: 68.19%;
     top: 75.49%;
     bottom: 21.09%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #212121;
 }

 .discord {
     position: fixed;
     left: 21.11%;
     right: 69.17%;
     top: 80.47%;
     bottom: 16.11%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #212121;
 }

 .ig {
     position: fixed;
     left: 21.11%;
     right: 70.21%;
     top: 85.45%;
     bottom: 11.13%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #212121;
 }

 .github {
     position: fixed;
     left: 66.58%;
     right: 22.71%;
     top: 75.49%;
     bottom: 21.09%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #212121;
 }

 .credit {
     position: fixed;
     left: 66.58%;
     top: 80.47%;
     bottom: 16.11%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #212121;
 }

 .rtw {
     position: fixed;
     left: 66.58%;
     top: 85.45%;
     bottom: 11.13%;
     font-family: 'Ndot';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     color: #212121;
 }